.search-container{
    text-align: center;
}
.banner-search{
    width: 70%;
    max-width: 400px;
    .MuiOutlinedInput-root{
        background-color: #fff;
        border-radius: 5px 0 0 5px;
        .MuiOutlinedInput-notchedOutline{
            border-radius: 5px 0 0 5px;
            border-color: #fff;
            border-width: 3px;
        }
        &.Mui-focused{
            .MuiOutlinedInput-notchedOutline{
                border-color: #ff5200;
            }
        }

    }
    .MuiFormLabel-root.Mui-focused{
            color: #ff5200;
    }
}
.MuiButtonBase-root.searchBtn{
    margin-top: 15px;
    height: 57px;
    border-radius: 0 5px 5px 0;
    background-color: #ff5200;
}